.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: white;
  z-index: 1;

  .logo-container {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;

    .logo {
      margin-top: 15px;
    }

    .center {
      font-size: 28px;
      align-items: center;
      justify-content: start;
      text-align: left;
      font-weight: bold;
      color: #34495e;

      span {
        font-size: 50px;
        font-weight: normal;
        padding-top: 20px;
      }
    }
  }

  .options {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: #34495e;
    }
  }
}
